.idea
# Python bytecode
*.pyc

# Weight files
bin/

# Sample image data
sample_img/*.jpg
!sample_img/sample_*.jpg
sample_img/out/*

# Annotated test results
results/

# Intermediate training data
backup/
tfnet/yolo/parse-history.txt
tfnet/yolo/*.parsed
!requirements*.txt
*.pb
/profile
/test.py

# Built cython files
darkflow/cython_utils/*.pyd
darkflow/cython_utils/*.c

#egg-info
darkflow.egg-info/

#Other build stuff
build/

#TensorBoard logs
summary/

#Built graphs
built_graph/

#Training checkpoints
ckpt/*

#pytest cache
.cache/

#data
MOTC/2DMOT2015/
MOTC/MOT16/
MOTC/MOT16Labels/
MOTC/MOT17/
MOTC/MOT17Labels/
MOTC/MOT17Det/
MOTC/MOT17DetLabels/
MOTC/motchallenge-devkit/.hg/
VOCdevkit/
darkflow/cython_utils/

MOTC/motchallenge-devkit/motchallenge/res/MOT17Det/DPM/data/clean/
MOTC/motchallenge-devkit/motchallenge/res/MOT17/data/
MOTC/motchallenge-devkit/motchallenge/res/MOT17Det/DPM/data/eval2D.txt
MOTC/motchallenge-devkit/motchallenge/res/MOT17Det/DPM/data/eval_dets.mat
MOTC/motchallenge-devkit/motchallenge/res/MOT17Det/DPM/data/rcpr-train.png

#timelines
timeline_step_*.json
motc_utils/mail_settings.py

ckpt*
summary*
