codecov==2.0.9
coverage==4.4.1
Cython==0.25.2
numpy==1.12.1
olefile==0.44
Pillow==4.1.1
protobuf==3.3.0
py==1.4.33
pytest==3.0.7
pytest-cov==2.5.1
requests==2.14.2
six==1.10.0
tensorflow==1.1.0
Werkzeug==0.12.2
